[Desktop Entry]
Name=Luks Password Changer
Exec=/usr/bin/luks-password-changer
Type=Application
NoDisplay=true
AutostartCondition=GSettings com.eleven-labs.luks-password-changer luks-password-unchanged
